################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeladeiraExibir/bin/Debug/net8.0
/GeladeiraEstrutura/bin/Debug/net8.0
/.vs/ProjetoGela/FileContentIndex
/.vs/ProjetoGela/v17/.suo
/.vs/ProjetoGela/v17/DocumentLayout.json
/.vs/ProjetoGela/v17/DocumentLayout.backup.json
/GeladeiraEstrutura/obj/Debug/net8.0/ref
/GeladeiraEstrutura/obj/Debug/net8.0/refint
/GeladeiraExibir/obj/Debug/net8.0/ref
/GeladeiraExibir/obj/Debug/net8.0/refint
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.AssemblyInfo.cs
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.AssemblyInfoInputs.cache
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.assets.cache
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.csproj.BuildWithSkipAnalyzers
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.csproj.CoreCompileInputs.cache
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.csproj.FileListAbsolute.txt
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.dll
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.GeneratedMSBuildEditorConfig.editorconfig
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.pdb
/GeladeiraEstrutura/obj/Debug/net8.0/GeladeiraEstrutura.sourcelink.json
/GeladeiraEstrutura/obj/GeladeiraEstrutura.csproj.nuget.dgspec.json
/GeladeiraEstrutura/obj/GeladeiraEstrutura.csproj.nuget.g.props
/GeladeiraEstrutura/obj/project.assets.json
/GeladeiraEstrutura/obj/project.nuget.cache
/GeladeiraExibir/obj/Debug/net8.0/apphost.exe
/GeladeiraExibir/obj/Debug/net8.0/Geladeir.631D1613.Up2Date
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.AssemblyInfo.cs
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.AssemblyInfoInputs.cache
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.assets.cache
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.csproj.AssemblyReference.cache
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.csproj.BuildWithSkipAnalyzers
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.csproj.CoreCompileInputs.cache
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.csproj.FileListAbsolute.txt
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.dll
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.GeneratedMSBuildEditorConfig.editorconfig
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.genruntimeconfig.cache
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.pdb
/GeladeiraExibir/obj/Debug/net8.0/GeladeiraExibir.sourcelink.json
/GeladeiraExibir/obj/GeladeiraExibir.csproj.nuget.dgspec.json
/GeladeiraExibir/obj/GeladeiraExibir.csproj.nuget.g.props
/GeladeiraExibir/obj/project.assets.json
/GeladeiraExibir/obj/project.nuget.cache
/.vs/ProjetoGela/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/projetogela.metadata.v9.bin
/.vs/ProjectEvaluation/projetogela.projects.v9.bin
/.vs/ProjectEvaluation/projetogela.strings.v9.bin
